h1 Hi! My name is Alex. 👋
p UI/UX designer at Schoolab in Paris and passionate by design, everyday I learn how to design better experiences for people.
p Feel free to take a look at my #[a(href="") resume].
