h1 I’ve already worked with…
ul.brands-list
  li.brand-list--item
    a.brand-list--link
      img(src="#", alt="alt")
    span.brand-list--name LaFarge Holcim

  li.brand-list--item
    a.brand-list--link
      img(src="#", alt="alt")
    span.brand-list--name Total

  li.brand-list--item
    a.brand-list--link
      img(src="#", alt="alt")
    span.brand-list--name BNP Banque Privée

  li.brand-list--item
    a.brand-list--link
      img(src="#", alt="alt")
    span.brand-list--name Suez

  li.brand-list--item
    a.brand-list--link
      img(src="#", alt="alt")
    span.brand-list--name ODDO

  li.brand-list--item
    a.brand-list--link
      img(src="#", alt="alt")
    span.brand-list--name Up
