h1 Let’s keep in touch ✍️
p Just to say hello, talk or work together. I'd be happy to answer you! You can contact me on #[a(href="") LinkedIn], #[a(href="") Twitter] or #[a(href="") by email].
a.h1(href="#") hello[at]jolly.design
