h1 My work on dribbble 👀
ul.works-list
  li.work-list--item
    a.work-list--link
      img(src="#", alt="alt")

  li.work-list--item
    a.work-list--link
      img(src="#", alt="alt")

  li.work-list--item
    a.work-list--link
      img(src="#", alt="alt")
